<div class="post archive">
  <h3>All Tags</h3>
  {{#each alltags}}
    <a href="/tag/{{tag}}.html">#{{tag}}</a>
  {{/each}}
  <h3>All Posts</h3>
  <table class="archive">
  <tbody>
  {{#each posts}}
    <tr>
    {{#if published}}
    <td>{{ post_index }}<td><a href="/posts/{{ date }}/{{ file }}.html">{{ title }}</a></td><td>{{ display_date }}</td>
    {{/if}}
    </tr>
  {{/each}}
  </tbody>
  </table>
</div>
