<% include ../includes/header %>
<div class="post archive">
  <table class="archive">
  <tbody>
  <% posts.forEach(function(post, idx) { %>
    <tr>
    <% if (post.published) { %>
    <td><%= post.post_index %><td><a href="/posts/<%= post.date %>/<%= post.file %>.html"><%= post.title %></a></td><td><%= post.date %></td>
    <% } %>
    </tr>
  <% }) %>
  </tbody>
  </table>
</div>
<% include ../includes/footer %>